
   /* @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); */
  /* @import url(https://fonts.google.com/share?selection.family=Roboto:wght@100;400); */

.header {
  display: grid;
  grid-template-rows: none;
  grid-template-areas: 
  "home portfolio about services contact";
  grid-template-areas: "icon menu";
  padding: 40px;
  flex-direction: column;
  background: url('../images/pawel-czerwinski-dgJT71cXlC4-unsplash\ \(1\).jpg');
  background-size: cover;
}

.header .menu {
  grid-area: menu;
  grid-auto-flow: column;
  display: flex;
  grid-gap: 32px;
  align-items: end;
  justify-content: end;
}

.header .icon {
  grid-area: icon;
  height: 114px;
}

.menu a {
  color: inherit;
  text-decoration: none;
}

.menu > *:hover{
  font-weight: bold;
  color: blue;
}

section {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  padding: 40px;
  text-align: justify;
}

/* .bio {
  display: flex;
  flex-direction: row;
  font-family: Roboto, sans-serif;
  padding: 40px;
  text-align: justify;
} */

section > * {
  padding-right: 40px
}

section > *:last-child {
  padding-right: 0px
}

@media only screen and (max-width: 600px) {
  section {
    flex-direction: column;
  }

  .info {
    /* flex-direction: column-reverse; */
  }

  section > * {
    padding-bottom: 40px
  }

  /* section > *:last-child {
    padding-bottom: 0px
  } */
  section img {
    justify-items: normal;
  }
}